* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --primary-color: rgb(50,26,115);
    --secondary-color: rgb(181,74,228);
    --border-hover-color: rgb(122,104,162);
    --tertiary-color: #aaaaaa;
    --white-color: #ffffff;
    --correct-color: #6b8e23;
  }

  body {
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1.5;
      width: 60%;
      margin: 0 auto;
  }

  a {
      text-decoration: none;
  }

  .container-start, h2 {
      text-align: center;
  }

  header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 25px 0;
  }

  .score a, .time {
      font-size: 20px;
  }

  .score a {
      color: var(--secondary-color);
      cursor: pointer;
  }

  .score a:hover {
      color: var(--primary-color);
  }

  h1 {
      margin-bottom: 10px;
  }

  h2 {
      color: var(--tertiary-color);
      border-top: 1px solid var(--tertiary-color);
      margin: 20px 0;
      font-style: italic;
  }

  button {
      font-family: Arial, Helvetica, sans-serif;
      border: 1px solid var(--primary-color);
      width: auto;
      overflow: visible;
      padding: 10px;
      background-color: var(--primary-color);
      border-radius: 5px;
      font-size:small;
      margin: 0;
      color: var(--white-color);
      cursor: pointer;
      font-weight: normal;
      text-align: left;
}

button:hover {
    background-color: var(--secondary-color);
    border-color: var(--border-hover-color);
}

.hidded {
    display: none;
}

.answers-grid {
    display: grid;
    gap: 10px;
    margin: 20px 0;
}